@font-face {
	src: url('../fonts/Sarabun-Regular.ttf');
	font-family: 'Sarabun-Regular',sans-serif;
}
@font-face {
	src: url('../fonts/RobotoCondensed-Regular.ttf');
	font-family: 'RobotoCondensed-Regular', sans-serif;
}

body{
	font-family: 'Sarabun-Regular',sans-serif;
	font-family: 'RobotoCondensed-Regular', sans-serif;
}
*{
  box-sizing:border-box;
}
.py-4,
.no-pad {
	padding: 0px !important;
}
.no-left-pad{
	padding-left: 0px;
}
.no-right-pad{
	padding-right: 0px;
}
a {
	color: #fff;
}
.form-group {
	margin: 0px;
}
.input-group .form-control,
.form-control {
    margin-bottom: 15px;
    border: 1px solid #ddd;
	border-radius: 0px;
	box-shadow: none;
	transition: 0.5s ease;
}
.form-control:focus {
	box-shadow: none;
	border-color: #e31e24;
}
input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
	line-height: 22px;
}
.m-r-20 {
	margin-right: 20px !important;
}
.btn-primary {
    padding: 1rem 2rem;
    font-size: 14px;
    line-height: 1;
    position: relative;
    -webkit-transition: 300ms ease all;
    -moz-transition: 300ms ease all;
    transition: 300ms ease all;
    font-family: "Sarabun",Arial,Helvetica,sans-serif;
    border: 0px;
    height: 47px;
    margin: 20px 0px;
    margin-right: 0px;
    width: auto;
    background-color: #e31e24;
	color:#fff;
	box-shadow: 0 -2px 0 0 rgba(24,24,24,.15) inset;
}
.btn-primary:hover, 
.btn-success:hover,
.btn-back:hover {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
	border: 0px;
	background-color:#e94d65;
	color:#ffffff;
	box-shadow: 0 -3px 0 0 rgba(24,24,24,.15) inset, 0 3px 10px rgba(0,0,0,0.3);
}
.btn-success {
    padding: 1rem 1.25rem;
    color: rgb(255, 255, 255);
	font-size: 14px;
	line-height: 1;
	position: relative;
	-webkit-transition: 300ms ease all;
	-moz-transition: 300ms ease all;
	transition: 300ms ease all;
	font-family: "Sarabun",Arial,Helvetica,sans-serif;
	background-color: #296d75 !important;
	border: 0px;
	border-color: transparent !important;
	border-bottom: 2px solid #1b474b !important;
	height: 47px;
	margin: 20px 0px;
	width: 150px;
}
.btn-back {
    background: rgb(27, 73, 98);
	color:rgb(255, 255, 255);
    font-size: 14px;
    border: 0px;
    line-height: 20px;
    padding: 5px 10px;
    -webkit-transition: 300ms ease all;
	-moz-transition: 300ms ease all;
	transition: 300ms ease all;
	font-family: "Sarabun",Arial,Helvetica,sans-serif;
	border: 0px;
	border-color: transparent !important;
	border-bottom: 2px solid #102d3c !important;
}
.btn-icon {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}
.container {
    max-width: 1260px !important;
    padding: 0px;
}
a{
	transition: 0.5s ease;
}
a:hover,
a:focus {
	text-decoration : none !important;
	outline: none !important;
	color: inherit;
}
h1 {
	font-family: "Sarabun-Regular",Arial,Helvetica,sans-serif;
	font-size: 20px;
}
img {
    max-width: 100%;
}
.control-label,
label {
    position: relative;
    font-size: 14px;
    font-family: 'RobotoCondensed-Regular', sans-serif;
    font-weight: 400;
}
.mandSpan {
	color: #ff0000;
}
/*============ Header CSS ============== */
.header-section .topBar {
    background-color: #41403f;
	color:rgb(255, 255, 255);
    font-size: 14px;
    line-height: 36px;
}
.header-section .topBar i {
	color:#e31e24;
}
.header-section .topBar p {
	margin: 0px;
	display: inline;
	float: left;
	margin-right: 20px;
	font-size: .875em;
}
.header-section .topBar p .time{
	opacity: .5;
}
.header-section .topBar .righttopHeader {
	float: right;
}
.header-section .header{
	width:100%;
	background:#fff;
	text-align:center;
	position:relative;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.39);
}
.header-section .header.sticky {
 	position:fixed;
    -webkit-animation: slide-down 0.7s;
    -moz-animation: slide-down 0.7s;
    animation: slide-down 0.7s;
    top: 0px;
    z-index: 99;
}
.header-section .header.sticky .navbar-inverse .navbar-nav > li > a {
	line-height: 100px;
}
.header-section .header.sticky .navbar-header .navbar-brand {
	line-height: 60px;
	font-size: 20px;
}
.header-section .header.sticky .btn-primary {
	margin: 10px;
}
@-webkit-keyframes slide-down { 
	0% { opacity:0; transform:translateY(-100%);}100% { opacity:0.9; transform:translateY(0);}
}
@-moz-keyframes slide-down { 
	0% { opacity:0; transform:translateY(-100%);}100% { opacity:0.9; transform:translateY(0);}
}
@keyframes slide-down { 
	0% { opacity:0; transform:translateY(-100%);}100% { opacity:0.9; transform:translateY(0);}
}
.header-section .navbar {
	display: block;
}
.header-section .navbar-inverse {
	background: transparent;
	border: 0px;
	padding: 0px;
	margin: 0px;
}
.header-section .navbar-brand {
    font-family: "Sarabun-Regular",Arial,Helvetica,sans-serif;
    font-size: 32px;
    font-weight: 800;
    color: rgb(24, 24, 24);
    line-height: 140px;
    padding: 0px;
    margin: 0px;
}
.header-section .navbar-inverse .navbar-brand:hover, 
.header-section .navbar-inverse .navbar-brand:focus {
    color: rgb(233, 77, 101);
	background-color: transparent;
}
.header-section .navbar-nav {
	flex-direction: row;
	float: right;
}
.header-section .navbar-inverse .navbar-nav > li > a {
    color: rgb(24, 24, 24);
    font-weight: 600;
    padding: 0px;
    font-family:"Sarabun",Arial,Helvetica,sans-serif;;
    line-height: 108px;
}
.header-section .navbar-brand img {
	float: left;
}
.header-section .navbar-brand img.genTrizLogo {
    max-height: 39px !important;
    margin-top: 42px;
    padding: 0px 16px;
    float: left;
}
.header-section .navbar-inverse .navbar-nav > .active > a, 
.header-section .navbar-inverse .navbar-nav > .active > a:hover, 
.header-section .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: transparent;
	color: rgb(24, 24, 24);
}
.header-section .navbar-nav > li {
    padding-right: 20px;
}
.header-section .navbar-nav > li:last-child {
    padding-right: 0px;
}
.navbar-nav .dropdown-menu {
    position: absolute;
    top: 90px;
}
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    color: rgb(0, 0, 0);
	background-color: transparent;
}
/*==================== Footer CSS =============================*/
.footer-section .topFooter {
	background-color: #19435a;
	padding: 60px 0px;
	color: #fff;
}
.footer-section .topFooter a {
	color: #fff;
	display: block;
	font-size: 15px;
	font-family: "Roboto",Arial,Helvetica,sans-serif;
}
.footer-section .topFooter a:hover {
	color: #e31e24;
	text-decoration: none;
}
.footer-section .topFooter h2 {
    font-size: 20px;
    color: #e31e24;
    font-weight: 700;
    font-family: "Sarabun",Arial,Helvetica,sans-serif;
    margin: 10px 0px;
}
.footer-section .topFooter h1 {
    position: relative;
    font-size: 14px;
    font-family: 'RobotoCondensed-Regular', sans-serif;
    margin: 0 0 .6em;
    font-weight: 400;
    padding-left: 40px;
}
.footer-section .topFooter h1::before {
	content: ' ';
	width: 30px;
	border-top: 2px solid #e31e24;
	margin-top: -1px;
	margin-bottom: 0;
	position: absolute;
	top: 8px;
	left: 0px;
}
.footer-section .topFooter p {
    font-size: 14px;
    font-family: "Roboto",Arial,Helvetica,sans-serif;
    margin: 0 0 .6em;
    font-weight: 100;
}
.footer-section .topFooter .loactinMap {
	margin-top: 60px;
}
.footer-section .topFooter .loactinMap a i {
	color: #e31e24;
}
.footer-section .topFooter .loactinMap a:hover,
.footer-section .topFooter .loactinMap a:hover i {
	color: #fff;
}
.footer-section .topFooter .soacial-icons p {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #e31e24;
	border-radius: 50%;
	text-align: center;
	line-height: 55px;
	border: 2px solid #e31e24;
	margin-right: 10px;
	transition: 0.5s ease;
	cursor: pointer;
}
.footer-section .topFooter .soacial-icons p i {
	font-size: 25px;
}
.footer-section .topFooter .soacial-icons p:last-child{
	margin-right: 0px;
}
.footer-section .topFooter .soacial-icons p:hover{
	background-color: #fff;
}
.footer-section .topFooter .soacial-icons p:hover i{
	color: #e31e24;
}
.footer-section .bottomFooter {
	background-color: #e31e24 !important;
	padding: 30px 0px;
}
.footer-section .bottomFooter li {
	float: left;
	list-style: none;
    padding-right:15px;
}
.footer-section .bottomFooter li:last-child {
	padding-right:0px;
}
.footer-section .bottomFooter li a,
.footer-section .bottomFooter p {
	color: #fff;
	font-size: .875em;
	line-height: 20px;
	margin: 0px;
	transition: 0.5s ease;
}
.footer-section .bottomFooter li a:hover {
	text-decoration: none;
	opacity: 0.7;
}
/*===================== LOGIN CSS =========================*/
.loginBanner {
	padding: 60px;
	background-repeat: no-repeat;
	background-position: center;
}
.loginBanner .card {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0px;
}
.loginBanner .btn-success a {
	color: #fff;
}
.loginBanner .linkBtn {
	color: rgb(27, 73, 98);
	transition: 0.5s ease;
}
.loginBanner .linkBtn:hover {
	color: #e31e24;
	font-weight: 700;
}
.loginBanner .helperText{
    position: absolute;
    top: 8px;
    right: 25px;
}
.loginBanner h1{
    font-family: "Sarabun-Regular",Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: rgb(24, 24, 24);
    line-height: 70px;
    margin: 0px;
}
/*============================== Sidebar ========================== */
.sidebar {
	background: #e31e24;
}
.sidebar h1 {
	font-family: 'RobotoCondensed-Regular', sans-serif;
	margin: 20px auto 10px;
	line-height: 24px;
	color: #fff;
}
.sidebar .sidebar-img {
    width: 150px;
    height: 150px;
    margin: 20px auto ;
    background-repeat: no-repeat;
}
.sidebar .sidebar-img img {
	border-radius: 50%;
}
.sidebarOption {
	list-style: none;
	padding-left: 0px;
}
.sidebarOption li {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    padding: 10px;
    transition: 0.5s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sidebarOption li a {
	color: #fff;
}
.sidebarOption li:hover,
.activeClass {
    background: rgb(27, 73, 98);
    padding-left: 15px;
}
.sidebarOption li:hover a {
	color: #fff;
}
/*=========================== Dashboard CSS =====================*/
.mainDashboard h1 {
	margin: 20px auto;
	font-family: 'RobotoCondensed-Regular', sans-serif;
	line-height: 24px;
	background:#e31e24;
	padding: 20px;
	position: relative;
	color:#fff;
}
.btn-icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0px;
    text-align: center;
    font-size: 16px;
    border-radius: 3px !important;
    background: #fff;
    color: #333;
    border: 1px solid #fff;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.08) !important;
    margin: 0px 2px;
    transition: 0.5s ease;
}
.btn-icon:hover {
  background: #f9f9f9;
  border: 1px solid #f9f9f9;
  color: #333;
}
.mainDashboard .btn-icon .fa {
    color: #e31e24;
}
.mainDashboard .needsclick.dropzone {
    padding: 0px;
    border: 0px;
}
.mainDashboard .dropzone .dz-message {
	margin: 0px;
	text-align: left;
}
.mainDashboard .dropzone .dz-preview.dz-file-preview .dz-image {
	display: none;
}
.mainDashboard .dropzone .dz-preview .dz-details {
	position: relative;
	padding: 10px 0px;
}
.mainDashboard .dropzone .dz-preview .dz-progress {
    width: 150px;
    margin-left: 0;
    left: 15%;
    top: 36%;
}
.mainDashboard .dropzone .dz-preview .dz-remove {
	color: #ccc;
}
.mainDashboard .dropzone .dz-preview .dz-remove:hover {
	color: #000;
}
.mainDashboard .dropzone .dz-preview .dz-details .dz-filename:not(:hover) span,
.mainDashboard .dropzone .dz-preview .dz-details .dz-filename:hover span {
	border: 0px;
}
.mainDashboard .table > tbody > tr > th,
.mainDashboard .table > tbody > tr > td {
	border: 0px;
}
/*================================ Alert box =======================================*/
.success-box {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1025;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.49);
}
.alert-msg {
    width: 300px;
    min-height: 250px;
    background: #ffecec;
    margin: 150px auto 0px;
    padding: 20px;
    position: relative;
}
.alert-msg .alert-img {
    text-align: center;
}
.alert-msg .alert-head {
    color: #e85f71;
    font-weight: 700;
    text-align: center;
    padding: 0;
    margin: 10px 0px;
    font-size: 24px;
}
.alert-msg .alert-content {
    font-size: 12px;
    line-height: 18px;
    color: #666;
}
.alert-msg .btn-close {
    line-height: 18px;
    background: #e85f71;
    color: #fff;
    text-shadow: none;
    font-size: 14px;
    padding: 10px 20px;
    z-index: 5;
    border: none;
    font-weight: 600;
    margin: 20px 0px 0px;
    float: none;
    opacity: 1;
    min-width: 160px;
}
.successMsg {
    background: #dffdf4;
}
.successMsg .alert-head {
    color: #3dcc9f;
}
.successMsg .btn-close {
    background: #3dcc9f;
}
/*============================= Plan packeges   ===============================*/
.views {
	min-height: 200px;
	background: #fff;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.29);
	border: 3px solid #fff;
	border-top: 3px solid #e31e24;
	margin: 20px 0px;
	padding: 20px 0px 0px;
	transition: 0.5s ease;
	font-size: 20px;
	font-family: 'RobotoCondensed-Regular', sans-serif;
	font-weight: 400;
}
.views:hover {
	border: 3px solid #e31e24;
	transform: scale(1.05);
	box-shadow: none;
}
.views .hoverSelect {
    margin: -20px 0px 20px;
    background: #e31e24;
    padding: 10px 0px;
    display: none;
    transition: 0.5s ease;
    color: #fff;
}
.views:hover .hoverSelect {
    display: block;
}
.confernceBox {
	margin: 20px auto;
	text-align: center;
	box-shadow: 0 0 32px rgba(0,0,0,0.14);
	transition: 0.5s ease;
}
.confernceBox .bgImg {
	height: 200px;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	transition: 0.5s ease;
}
.confernceBox:hover .bgImg {
	box-shadow: 0px 350px 0px rgba(0, 0, 0, 0.79) inset;
}
.confernceBox .title {
	color: #1c393d;
	margin: 0px;
	padding: 15px 0px;
	font-weight: 700;
    font-family: "Sarabun",Arial,Helvetica,sans-serif;
}
.confernceBox:hover .title {
	color: #e31e24;
}
.ConBackground {
	background-color: #1a2223;
	padding: 1.7em 0;
	color: #fff;
}
.ConBackground .title {
	text-transform: uppercase;
	margin: 10px auto;
}
.ConBackground .breadcrumb {
	background: transparent;
	margin: 0px;
	display: block;
	color: #fff;
}
.conDetails {
	margin: 40px;
}
.conDetails span {
    float: right;
    font-size: 16px;
}
.conDetails p {
    text-align: justify;
    font-size: 16px;
    line-height: 24px;
    margin: 0px;
    color: #8d8e90;
}
.conDetails h1 {
    color: #e31e24;
    margin: 0 auto 15px;
}
.conDetails .bgImg {
	height: 200px;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}
.conDetails .videos {
	margin: 30px auto 20px;
}
.conDetails .innerBox {
	box-shadow: 0 0 32px rgba(0,0,0,0.14);
	padding: 30px;
}
.watchFullVideo.modal.in .modal-dialog{
    width: 40%;
    margin: 10% auto;
    z-index: 999999;
}
.watchFullVideo .modal-content {
    box-shadow: 0 5px 15px rgba(0,0,0,0.19);
    border-radius: 0px;
    border: 0px;
}
.watchFullVideo .btn-primary {
	margin:  0px 5px 10px;
	border-radius: 0px;
	cursor: pointer;
}
.watchFullVideo h1 {
	margin: 20px;
}
.watchFullVideo span {
    font-size: 20px;
    color: #e31e24;
}
.videoPlan {
	margin: 40px auto;
}
.videoPlan .packageBox {
    max-width: 900px;
    margin: 0px auto 0;
    padding: 35px 0;
    box-sizing: border-box;
    background: #fce9ed;
	border: 1px solid #83142c;
    overflow: hidden;
}
.videoPlan .packageBox h4 {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}
.videoPlan .packageBox .price-text {
    font-size: 60px;
    letter-spacing: -2px;
    line-height: 1;
    font-weight: 700;
    color: #e31e24;
}
.videoPlan .packageBox p {
	text-align: center;
}
.videoPlan .packageBox ul li {
    font-size: 16px;
    line-height: 28px;
    list-style-type: none;
}
.videoPlan .packageBox ul li {
    font-size: 16px;
    line-height: 28px;
    list-style-type: none;
    padding: 5px 0px;
}

/*Harsha css*/

.commoncss h2 {
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    color: #41403f;
    margin: 0px 15px 40px;
}
.commoncss h2 span {
   color: #e31e24;
}
.righttopHeader ul {
	margin: 0px;
}
.righttopHeader ul li {
    display: initial;
    list-style-type: none;
    font-size: .875em;
    line-height: 2.5;
}
.righttopHeader ul li a:hover {
    color: #e31e24;
}
.login-Page {
    background-image: url('../images/bannerImg.png');
    min-height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0px;
}
.loginContainer {
	background-color: #fff;
	-webkit-box-shadow: 0 2px 20px rgba(0,0,0,.2);
	box-shadow: 0 2px 20px rgba(0,0,0,.2);
	padding: 20px;
}
.linkBtn {
	color: #e31e24;
}
.loginContainer h1 {
    color: #e31e24;
    font-size: 30px;
    margin: 20px 0px;
}
.form-control {
	height: 46px;
}
.videoBox {
    -webkit-box-shadow: 0 2px 20px rgba(0,0,0,.2);
    box-shadow: 0 2px 20px rgba(0,0,0,.2);
    padding: 20px;
    background-color: #fff;
    transition: 0.5s ease;
}
.videoBox:hover {
    box-shadow: none;
    transform: scale(1.05);
    border: 1px solid rgba(0, 0, 0, 0.09);
}
.videoBox h1 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02rem;
    font-size: 1.6rem;
}
.videoBox p {
    color: #73726c;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.2rem;
}
.videoBox img {
    max-height: 210px;
}
.videoBox .imgBox {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.videoBox p span{
    font-weight: inherit;
    color: #e31e24;
    font-size: 18px;
    display: block;
}
.commoncss .videoBox .package-header {
    position: relative;
    min-height: 170px;
    overflow: hidden;
    margin: -20px -20px 20px;
}
.commoncss .videoBox .package-header::before {
    content: "";
    position: absolute;
    top: -40px;
    left: -10%;
    z-index: 5;
    width: 120%;
    height: 150px;
    transform: rotate(-12deg);
    background: #19435a;
}
.commoncss .videoBox .package-header::after {
    content: "";
    position: absolute;
    top: -35px;
    left: -10%;
    z-index: 4;
    width: 120%;
    height: 133px;
    background-color: #e31e24;
    transform: rotate(12deg);
}
.commoncss .videoBox .package-header .border {
    background: #fff;
    border-bottom: 1px solid #e31e24;
    width: 120%;
    height: 5px;
    position: absolute;
    bottom: 53px;
    left: -10%;
    z-index: 5;
    transform: rotate(-12deg);
}
.commoncss .videoBox .package-header h1 {
    position: relative;
    z-index: 6;
    color: #fff;
    font-weight: 100;
    font-size: 26px;
    margin: 30px 0px 0px;
    letter-spacing: 2px;
    text-align: center;
}
.commoncss .videoBox .package-header h1 span {
    font-weight: 600;
}
.borderRight::before {
    position: absolute;
    content: "";
    right: 0px;
    height: 100%;
    width: 1px;
    background: #19435a;
    top: -5px;
}
.video-details .videoTag {
    width: 100%;
    height: 350px;
    text-align: center;
    margin: 0px 0px 40px;
}
.video-details .videoTag video {
    height: 100%;
}
.video-details {
    -webkit-box-shadow: 0 2px 20px rgba(0,0,0,.2);
    box-shadow: 0 2px 20px rgba(0,0,0,.2);
    padding: 30px 20px;
    background-color:#fff;
    transition: 0.5s ease;
}
.video-details h1{
    font-weight: 600;
    color: #e31e24;
    font-size: 2.5rem;
    margin: 0px;
    line-height: 40px;
}
.video-details h3, .video-details h2 {
    color:  #41403f;
    font-size: 1.6rem;
    margin: 0px;
    line-height: 26px;
}
.video-details h2 a {
    color: #e31e24;
    font-weight: 600;
}
/*DASHBOARD CSS*/

.dashboard .main {
    -webkit-box-shadow: 0 2px 20px rgba(0,0,0,.2);
    box-shadow: 0 2px 20px rgba(0,0,0,.2);
    padding: 30px 20px;
    background-color:#fff;
    transition: 0.5s ease;
}
.dashboard .main .sidebar {
    padding: 0px;
    min-height: 400px;
}
.dashboard .main .sidebar ul {
    padding: 10px 0px;
    list-style-type: none;

}
.dashboard .main .sidebar ul li {
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    transition: 0.5s ease;
    margin: 3px 0px;
}
.dashboard .main .sidebar ul li:hover,
.dashboard .main .sidebar ul li.active {
    background: #19435a;
}
.dashboard .dash_Data .tabhead {
    background-color: #19435a;
    height: 45px;
    margin: -20px 20px 0px;
    padding: 10px;
}
.dashboard .dash_Data .tabhead h1 {
    margin: 0px;
    color: #fff;
}
.dashboard .dash_Data {
    border: 1px solid #19435a;
    min-height: 400px;
    margin-top: 20px;
    border-radius: 10px;
}
.membershpipFeature {
    padding: 0px;
    list-style-type: none;
    margin: 20px auto 0px;
} 
.membershpipFeature li {
    font-size: 16px;
    line-height: 22px;
    position: relative;
    width: 70%;
    margin: 0 auto;
}
.membershpipFeature li::before {
    position: absolute;
    content: "";
    background: #e31e24;
	width: 8px;
	height: 8px;
	border-radius: 16px;
	color:#fff;
    left: -17px;
    top: 6px;
}
.pad-right-20 {
    padding-right: 20px;
}
.navbar-nav > li > a {
    text-transform: uppercase;
}